Input/41586_2019_1103_MOESM4_ESM.zip
Input/41586_2019_1103_MOESM4_ESM/SI_TableGuide.pdf
Input/41586_2019_1103_MOESM4_ESM/Supplementary Table 1 - CellLines_dataAv_screeDet_QCscores.xlsx
Input/41586_2019_1103_MOESM4_ESM/Supplementary Table 10 - WRN Validation sgRNA_siRNA sequences and cell lines.xlsx
Input/41586_2019_1103_MOESM4_ESM/Supplementary Table 3 - Core-Fitness and Context-Specificity Summary_v2.xlsx
Input/41586_2019_1103_MOESM4_ESM/Supplementary Table 4 - Characterisation of CoreFitness Genes.xlsx
Input/41586_2019_1103_MOESM4_ESM/Supplementary Table 5 - PriorityDistributionForThresholds.xlsx
Input/41586_2019_1103_MOESM4_ESM/Supplementary Table 6 - Ctype-Specific_PriorityScores.xlsx
Input/41586_2019_1103_MOESM4_ESM/Supplementary Table 7 - Pan-Cancer_PriorityScores.xlsx
Input/41586_2019_1103_MOESM4_ESM/Supplementary Table 8 - PriorityTarget_Markers_and_ComboMarkers.xlsx
Input/41586_2019_1103_MOESM4_ESM/Supplementary Table 9 - PriorityTargets and Tractability.xlsx
Input/41587_2018_1_MOESM4_ESM.xlsx
*.RData
*.Rhistory
